################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/Store/v16/.suo
/.vs/CIS4290API/v16/.suo
/.vs/CIS4290.G6.API/v16/.suo
